<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.warehouse.mapper.DriverMapper">

    <!-- 根据jobId查询司机信息 -->
    <select id="findByjobId" parameterType="int" resultType="Driver">
        SELECT * FROM "TicketManagement".driver WHERE "jobId" = #{jobId}
    </select>

    <!-- 查询所有司机信息 -->
    <select id="selectAll" resultType="Driver">
        SELECT * FROM "TicketManagement".driver
    </select>

    <!-- 新增司机信息 -->
    <insert id="insert" parameterType="Driver">
        INSERT INTO "TicketManagement".driver ("driverName", "entryTime", gender, "jobId")
        VALUES (#{driverName}, #{entryTime}, #{gender}, #{jobId})
    </insert>

    <!-- 更新司机信息 -->
    <update id="update" parameterType="Driver">
        UPDATE "TicketManagement".driver SET "driverName" = #{driverName}, "entryTime" = #{entryTime}, gender = #{gender}
        WHERE "jobId" = #{jobId}
    </update>

    <!-- 删除司机信息 -->
    <delete id="delete" parameterType="int">
        DELETE FROM "TicketManagement".driver WHERE "jobId" = #{jobId}
    </delete>

    <!-- 查询司机是否存在 -->
    <select id="isExist" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM "TicketManagement".driver WHERE "jobId" = #{jobId} LIMIT 1
    </select>

</mapper>