<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.warehouse.mapper.IfStationsMapper">

    <!-- 根据routeId查询车站信息 -->
    <select id="findByRouteId" resultType="ifStations">
        SELECT * FROM "TicketManagement".ifStations WHERE routeId = #{routeId}
    </select>

    <!-- 根据initialStation和finalStation查询车站信息
    <select id="findByStations" resultType="ifStations">
        SELECT * FROM "TicketManagement".ifStations WHERE initialStation = #{initialStation} AND finalStation = #{finalStation}
    </select> -->

    <!-- 新增车站信息 -->
    <insert id="insert" parameterType="ifStations" >
        INSERT INTO "TicketManagement".ifStations (initialStation, finalStation, totalLength)
        VALUES (#{initialStation}, #{finalStation}, #{totalLength})
    </insert>

    <!-- 更新车站信息 -->
    <update id="update" parameterType="ifStations">
        UPDATE "TicketManagement".ifStations SET initialStation = #{initialStation}, finalStation = #{finalStation}, totalLength = #{totalLength}
        WHERE routeId = #{routeId}
    </update>

    <!-- 删除车站信息 -->
    <delete id="delete" parameterType="int">
        DELETE FROM "TicketManagement".ifStations WHERE routeId = #{routeId}
    </delete>

</mapper>