<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.warehouse.mapper.PassengerMapper">

<!-- 查询所有乘客信息 -->
	<select id="findAllPassenger" resultType="List<PassengerInfo>">
		select * from "TicketManagement".passenger
	</select>

<!-- 查询某用户名下的所有乘客信息 -->
	<select id="findPassengerInfo" resultType="List<PassengerInfo>">
		selcet * from "TicketManagement".passenger where passengerPhoneNumber = #{passengerPhoneNumber}
	</select>

<!-- 使用idCard查询乘客信息 -->
	<select id="findPassengerInfoByidCard" resultType="List<PassengerInfo>">
		selcet * from "TicketManagement".passenger where idCard = #{idCard}
	</select>

<!-- 添加乘客信息 -->
	<insert id="insertPassenger" >
		insert into "TicketManagement".passenger (passengerName, passengerPhoneNumber, age, idCard) values ( #{passengerName}, #{passengerPhoneNumber}, #{age}, #{idCard})
	</insert>

<!-- 删除乘客信息 -->
	<delete id="deletePassenger" >
		delete from "TicketManagement".passenger where idCard = #{ idCard }
    </delete>
    
</mapper>