<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.warehouse.mapper.PassengerMapper">

    <!-- 根据phoneNumber查询某用户的所有乘客信息 -->
    <select id="findByPphoneNumber" parameterType="String" resultType="Passenger">
        SELECT * FROM "TicketManagement".passenger WHERE "passengerPhoneNumber" = #{passengerPhoneNumber}
    </select>

    <!-- 根据idCard查询乘客信息 -->
    <select id="findByidCard" parameterType="String" resultType="Passenger">
        SELECT * FROM "TicketManagement".passenger WHERE "idCard" = #{idCard}
    </select>

    <!-- 查询所有乘客信息 -->
    <select id="selectAll" resultType="Passenger">
        SELECT * FROM "TicketManagement".passenger
    </select>

    <!-- 新增乘客信息 -->
    <insert id="insert" parameterType="Passenger">
        INSERT INTO "TicketManagement".passenger ("passengerName", "passengerPhoneNumber", age, "idCard")
        VALUES (#{passengerName}, #{passengerPhoneNumber}, #{age}, #{idCard})
    </insert>

    <!-- 更新乘客信息 -->
    <update id="update" parameterType="Passenger">
        UPDATE "TicketManagement".driver SET "passengerName" = #{passengerName}, age = #{age}
        WHERE "idCard" = #{idCard}
    </update>

    <!-- 删除乘客信息 -->
    <delete id="delete" parameterType="String">
        DELETE FROM "TicketManagement".passenger WHERE "idCard" = #{idCard}
    </delete>

    <!-- 查询乘客是否存在 -->
    <select id="isExist" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM "TicketManagement".passenger WHERE "idCard" = #{idCard} LIMIT 1
    </select>

</mapper>