<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.warehouse.mapper.StationMapper">

    <!-- 查询所有站点 -->
    <select id="selectAll" resultType="Station">
        select * from "TicketManagement".station
    </select>

    <insert id="insert" parameterType="Station">
        INSERT INTO "TicketManagement".station (stationName)
        VALUES (#{stationName})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE FROM station WHERE stationName = #{stationName}
    </delete>

    <update id="update" parameterType="Station">
        UPDATE station SET
        stationName = #{stationName}
        WHERE stationName = #{stationName}
    </update>

    <select id="selectByName" parameterType="String" resultType="Station">
        SELECT * FROM station WHERE stationName = #{stationName}
    </select>


</mapper>