<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.warehouse.mapper.StopoverMapper">

    <insert id="insert" parameterType="StopoverStations">
        INSERT INTO "TicketManagement".stopoverStations (station_name, arrive_time, departure_time, length, route_id, number)
        VALUES (#{stationName}, #{arriveTime}, #{departureTime}, #{length}, #{routeId}, #{number})
    </insert>

    <update id="update" parameterType="StopoverStations">
        UPDATE "TicketManagement".stopoverStations SET station_name = #{stationName}, arrive_time = #{arriveTime},
        departure_time = #{departureTime}, length = #{length} WHERE route_id = #{routeId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM "TicketManagement".stopoverStations WHERE route_id = #{userId} AND number = #{number}
    </delete>

    <select id="findByrouteId" resultType="StopoverStations">
        SELECT * FROM "TicketManagement".stopoverStations WHERE route_id = #{routeId}
    </select>

    <select id="findAll" resultType="StopoverStations">
        SELECT * FROM "TicketManagement".stopoverStations
    </select>

</mapper>