<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.warehouse.mapper.UserMapper">

    <!-- 根据phoneNumber查询用户信息 -->
    <select id="findByphoneNumber" parameterType="String" resultType="User">
        SELECT * FROM "TicketManagement".user WHERE "phoneNumber" = #{phoneNumber}
    </select>

    <!-- 查询所有用户信息 -->
    <select id="selectAll" resultType="User">
        SELECT * FROM "TicketManagement".user
    </select>

    <!-- 新增用户信息 -->
    <insert id="insert" parameterType="User" >
        INSERT INTO "TicketManagement".user ("isAdmin", "idCard", password, "userName", email, "phoneNumber")
        VALUES (#{isAdmin}, #{idCard}, #{password}, #{userName}, #{email}, #{phoneNumber})
    </insert>

    <!-- 删除用户信息 -->
    <delete id="delete" parameterType="String">
        DELETE FROM "TicketManagement".driver WHERE "phoneNumber" = #{phoneNumber}
    </delete>

    <!-- 更新用户信息 -->
    <update id="UpdateUser" parameterType="User">
        UPDATE "TicketManagement".user SET "idCard" = #{idCard}, "userName" = #{userName}, email = #{email}, password=#{password}
        WHERE "phoneNumber" = #{phoneNumber}
    </update>

    <!-- 设置管理员(仅超管可用) -->
    <update id="UpdateisAdmin" parameterType="User">
        UPDATE "TicketManagement".user SET "isAdmin" = #{isAdmin}
        WHERE "phoneNumber" = #{phoneNumber}
    </update>

    <!-- 查询用户是否存在 -->
    <select id="isExist" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM "TicketManagement".user WHERE "phoneNumber" = #{phoneNumber} LIMIT 1
    </select>

</mapper>